@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

*::before,
*::after {
    box-sizing: border-box;
    line-height: 1.5em;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: Montserrat;
    background-color: #FFFBEF;
}

header {
    background-color: #FFFBEF;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
}

header .wrapper {
    max-width: 2400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

header .logo img {
    right: 120px;
    height: 50px;
    display: block;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: white;
   
    transition: left 0.3s;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.navbar.show {
    left: 0 !important;
}

.hide-scroll {
    overflow: hidden;
}

.navbar ul {
    all: unset;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.navbar ul a {
    all: unset;
    color: #444444;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    font-size: 28px;
}

.navbar ul a:hover {
    color: #FD7A8C;
    text-decoration: underline overline;
    text-decoration-thickness: 3px;
}

.close-nav {
    text-align: right;
    margin-bottom: 20px;
}

.close-nav button {
    all: unset;
    background: #f7f7f7;
    font-size: 42px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 3px;
    color: #444444;
}

.close-nav button:hover {
    color: #222222;
    background: white;
}

.menu-bar button {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #f7f7f7;
    height: 50px;
    width: 50px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.menu-bar i {
    display: block;
    border-top: 3px solid #444444;
    border-bottom: 3px solid #444444;
}

.menu-bar i::after {
    display: block;
    content: "";
    border-top: 3px solid #444444;
    margin: 6px 0;
}

.menu-bar button:hover {
    background: white;
}

.menu-bar button:hover i {
    border-color: #222222;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
}

@media (min-width: 550px) {
    .navbar {
        all: unset;
        display: block;
    }
    .navbar ul {
        flex-direction: row;
        gap: 20px;
    }
    .navbar ul a {
        font-size: inherit;
    }
    .close-nav,
    .menu-bar {
        display: none;
    }
}

h1 {
    font-family: Montserrat;
    font-size: 50px;
    color: #FD7A8C;
    padding-left: 60px;
    padding-bottom: 3vh;
}

.project7 {
    padding-left: 60px;
    width: 50%;
    height: 50%;
}

p {
    font-family: Montserrat;
    font-size: 16px;
    padding-left: 60px;
    padding-top: 10px;
    padding-right: 50px;
}

.button {
    background-color: #4C4C48;
    /* dark brown */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
}

.button1 {
    position: relative;
    left: 60px;
}

.button1:hover {
    background-color: #AFB5FF;
    color: white;
}

.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button2 {
    font-size: 10px;
}

.button2 {
    background-color: #4C4C48;
    color: white;
}

.button2:hover {
    background-color: #AFB5FF;
    color: white;
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button2 {
    position: relative;
    top: 70px;
    right: 90px;
}

.project1{
    width: 100%;
  
}
  
/* Footer code */

.footercontainer{
  width: 100%;
  padding: 50px 30px 20px;
  background-color:#4C4C48;
  margin-top: 10%;
}

.footernav{
 margin: 30px 0;
}

.footernav ul{
 display: flex;
 justify-content: center;
}

.footernav ul li a{
 color: #FFFFFF;
 margin: 20px;
 text-decoration: none;
 font-size: 1.6em; 
 transition: 0.5s;
 font-family: Montserrat;
}

.footernav ul li a:hover{
color: #F2778E;
transition: all 0.3s ease 0s;
}

.footericons{
  display: flex;
  justify-content: center;
}

.footericons a{
 text-decoration: none;
 padding: 10px;
 background: transparent;
 border: 2px solid #FFFFFF;
 color: #FFFFFF;
 margin: 10px;
 border-radius: 20%;
 font-size: 30px;
}

.footericons a :hover{
 color: #F2778E;
 transition: all 0.3s ease 0s;
}

.footbottom{
 text-align: center;
 padding: 20px;
 background-color: #4C4C48;
}

.footbottom p{
 color: #FFFFFF;
 font-family: Montserrat;
}